<div class="index pageView pageView100">
	<div class="banner">
		<ul slider id="ngSlide" prevCell="prev" next-cell="next" slide-index=1 slide-name="navy">
			<li><a href="javascript:;"><img ng-src="images/banner_download.png" /><span>1111111</span></a></li>
			<li><a href="javascript:;"><img ng-src="images/pic1.jpg" /><span>2222222</span></a></li>
		</ul>
	</div>
	<div class="content">
		<div class="indexItem">
			<div class="fLeft">
				<h2 class="animated bounceInDown">
					<span class="animated infinite swing">做只懒考拉</span>
				</h2>
				<p class="animated bounceInLeft">让考拉理财，让你的时间创造更多</p>
			</div>
			<div class="fRight">
				<div class="relative">
					<img class="animated rollIn" src="images/pic1.jpg" />
					<img class="scrollImg animated rotateIn infinite" src="images/yuan.jpg" />
				</div>
			</div>
		</div>
		<div class="indexItem">
			<div class="fLeft">
				<h2 class="animated bounceInDown">
					<span class="animated infinite tada">安全理财</span>
				</h2>
				<p class="animated bounceInLeft">6重安全保障，让你高枕无忧赚钱</p>
			</div>
			<div class="fRight">
				<div class="relative">
					<img class="animated rollIn" src="images/pic2.jpg" />
					<img class="scrollImg animated bounce infinite" src="images/yuan.jpg" />
				</div>
			</div>
		</div>
		<div class="indexItem">
			<div class="fLeft">
				<h2 class="animated bounceInDown">
					<span class="animated infinite pulse">简单赚钱</span>
				</h2>
				<p class="animated bounceInLeft">傻瓜式理财，轻松获得余X宝收益的2倍</p>
			</div>
			<div class="fRight">
				<div class="relative">
					<img class="animated rollIn" src="images/pic1.jpg" />
					<img class="scrollImg animated bounce infinite" src="images/yuan.jpg" />
				</div>
			</div>
		</div>
		<div class="indexItem">
			<div class="fLeft">
				<h2 class="animated bounceInDown">
					<span class="animated infinite swing">随身随心</span>
				</h2>
				<p class="animated bounceInLeft">把考拉理财装进你手机 </p>
			</div>
			<div class="fRight">
				<img class="animated rollIn" src="images/pic2.jpg" />
			</div>
		</div>
		<div class="indexItem">
			<p class="swingTitle animated infinite shake">考拉理财，我们为自己代言——第一个全员投资的产品</p>
		</div>
	</div>
</div>