<div id="footer" class="wid100" ng-controller="headerCtrl">
	<ul class="footerNav nav">	
		<li><a ng-click="setNavIndex(100)" ng-class="{selected:index == 100}" href="#/about">关于考拉</a></li>
		<li><a ng-click="setNavIndex(101)" ng-class="{selected:index == 101}" href="#/contact">联系考拉</a></li>
		<li><a ng-click="setNavIndex(102)" ng-class="{selected:index == 102}" href="#/attension">关注考拉</a></li>
		<li><a ng-click="setNavIndex(103)" ng-class="{selected:index == 103}" href="#/join">加入我们</a></li>
		<li><a ng-click="setNavIndex(104)" ng-class="{selected:index == 104}" href="#/disclaimer">免责声明</a></li>
		<li><a ng-click="setNavIndex(105)" ng-class="{selected:index == 105}" href="#/privacy">隐私声明</a></li>
	</ul>
</div>